body{
    background: rgb(163,232,109);
    background: linear-gradient(0deg, rgba(163,232,109,1) 0%, rgba(238,198,110,1) 100%);
    font-family:'Merriweather', serif;
    align-items: center;
    text-align: center;
}
img{
    height: 150px;
    border: solid;
    border-style: groove;
    border-color: #050931;
}
.lis{
    display: inline-block;
}
.lis ul li{
    font-weight: bolder;
}
.flags{
    width: 100px;
    height: 100%;
    border:none;
}
h1{
    text-align: center;
    font-family: 'Sacramento', cursive;
    color: #050931;
    font-size: 5.5rem;
    margin: 50px;
}
h2{
    color: #152805;
    font-family:'Merriweather', serif;
    padding-bottom: 10px;
    font-size: 2.5rem;
}
h3{
    font-family:'Merriweather', serif;
    color:#183215;
}
hr{
    border-width: 6px;
    border-color: #EAF6F6;
    border-style: dotted;
    width: 4%;
}
table{
    width: 100%;
    text-align: left;
}
.lok{
    text-align: center;
}
a{
    text-decoration: none;
    font-weight: bold;
}
a:hover{
    color: #183215;
}
div div{
    background-color: #21212157;
}
.forr{
    border-style: dotted;
    border-color: #050931;
    background-color: #0509318e !important;
}